
body{
    background-color:rgb(216, 216, 216);
}

.id_cont{
    margin-top: 4%;
    width: 450px;
    text-align: center;
    border: 2px solid rgb(255, 247, 247);
    background-color: #ffffff;
    border-radius: 5%; 
    padding: 10px;
}

.header{
    background: #c8c7c7;    
}

.id_img img {
    width: 100%;  
    height: 350px;      
    border-radius: 4px; 
}